/* Social Bar Start */
.social-bar {
  position: fixed;
  left: 0;
  top: 35%;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 100;
}

.icon {
  color: white;
  text-decoration: none;
  padding: 0.7rem;
  display: flex;
  transition: all 0.2s;
}

.icon:first-child {
  border-radius: 0 1rem 0 0;
}

.icon:last-child {
  border-radius: 0 0 1rem 0;
}

.icon:hover {
  color: white;
  padding-left: 3rem;
  border-radius: 0 1rem 1rem 0;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.42);
}

.icon-github {
  background-color: #333;
}

.icon-linkedin {
  background-color: #007bb5;
}

.icon-twitter {
  background-color: #55acee;
}
/* Social Bar End */
