<!-- Educacion -->
<section
  class="container-fluid educacion d-flex flex-column align-items-center"
>
  <div class="container educacion__content p-3">
    <h2>Educación</h2>
    <hr />
    <!-- UTN -->
    <div class="row educacion__item">
      <div class="col">
        <div class="educacion__item--border">
          <div class="row">
            <div class="col d-flex flex-wrap">
              <div class="flex-fill">
                <h2 class="fs-3 mb-0">Universidad Tecnológica Nacional</h2>
              </div>
              <div>
                <h4 class="fs-6">Marzo 1991 - Junio 1993</h4>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p class="fs-6">
                Ingeniería en Sistemas de la Información (incompleto)
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Comercio -->
    <div class="row educacion__item">
      <div class="col">
        <div class="educacion__item--border">
          <div class="row">
            <div class="col d-flex flex-wrap">
              <div class="flex-fill">
                <h2 class="fs-3 mb-0">Escuela Nacional de Comercio</h2>
              </div>
              <div>
                <h4 class="fs-6">Marzo 1985 - Noviembre 1990</h4>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p class="fs-6">Perito Mercantil con orientación contable.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container educacion__content p-3">
    <h2>Cursos</h2>
    <hr />
    <!-- FreeCodeCamp -->
    <div class="row educacion__item">
      <div class="col">
        <div class="educacion__item--border">
          <div class="row">
            <div class="col d-flex flex-wrap">
              <div class="flex-fill">
                <h2 class="fs-3 mb-0">freeCodeCamp</h2>
              </div>
              <div>
                <h4 class="fs-6">Noviembre 2020</h4>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p class="fs-6">Responsive Web Design.</p>
              <a
                href="https://www.freecodecamp.org/certification/hymsoft/responsive-web-design"
                target="_blank"
                class="btn btn-outline-dark btn-sm"
                >Ver certificado</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- #SeProgramar -->
    <div class="row educacion__item">
      <div class="col">
        <div class="educacion__item--border">
          <div class="row">
            <div class="col d-flex flex-wrap">
              <div class="flex-fill">
                <h2 class="fs-3 mb-0">Ministerio de Desarrollo Productivo</h2>
              </div>
              <div>
                <h4 class="fs-6">Diciembre 2021</h4>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p class="fs-6">Argentina Programa Etapa 1 #SeProgramar</p>
              <a
                href="https://mumuki.io/argentina-programa/certificates/verify/BLx2c7WVoncbill5"
                target="_blank"
                class="btn btn-outline-dark btn-sm"
                >Ver certificado</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
