<div class="col">
  <div class="card border-white text-white bg-dark">
    <img
      class="mx-auto d-block w-25 mt-4"
      [src]="experiencia.logo"
      [alt]="experiencia.logoAlt"
    />
    <div class="card-body">
      <h4 class="card-title">{{ experiencia.empresa }}</h4>
      <h5 class="card-subtitle h6 mb-2">
        {{ experiencia.puesto }}
      </h5>
      <p class="card-text">
        {{ experiencia.descripcion }}
      </p>
    </div>
    <div class="card-footer">
      {{ experiencia.fechaIngreso }} – {{ experiencia.fechaEgreso }} ({{
        experiencia.meses
      }}
      meses)
    </div>
  </div>
</div>
