<!-- Proyectos -->
<section
  class="container-fluid proyectos d-flex flex-column align-items-center"
>
  <div class="container proyectos__content p-3">
    <div class="proyectos__content--title text-white">
      <h2>Proyectos</h2>
      <hr />
    </div>
    <div class="row educacion__item">
      <div class="col d-flex flex-wrap justify-content-evenly mx-auto">
        <!-- Argentina Programa desafio 1 -->
        <div class="proyecto__item p-3">
          <figure class="proyecto__item--figure">
            <img
              class="proyecto__figure--img"
              src="../assets/img/desafio-1.png"
              alt="Proyectos - Desafio 1"
            />
            <div class="proyecto__capa">
              <h3 class="proyecto__capa--title">Desafío 1 Modulo 2</h3>
              <h4 class="proyecto__capa--subtitle">Plan Argentina Programa</h4>
              <p class="proyecto__capa--text">
                El desafio consiste en tomar una plantilla de CV Web estática
                suministrado por la profesora, y adaptarla a nuestra necesidad,
                cambiando tipografias, colores, agregando foto/s y todo lo que
                se considere necesario.
              </p>
              <a
                href="https://hymsoft.github.io/desafio-modulo-2/"
                target="_blank"
                class="btn btn-outline-dark btn-sm mt-2"
                >Ver proyecto</a
              >
            </div>
          </figure>
        </div>

        <!-- Argentina Programa desafio 2 -->
        <div class="proyecto__item p-3">
          <figure class="proyecto__item--figure">
            <img
              class="proyecto__figure--img"
              src="../assets/img/password-checker.png"
              alt="Proyectos - Desafio 2"
            />
            <div class="proyecto__capa">
              <h3 class="proyecto__capa--title">Desafío 2 Modulo 2</h3>
              <h4 class="proyecto__capa--subtitle">Plan Argentina Programa</h4>
              <p class="proyecto__capa--text">
                Habia que generar cualquier proyecto en Bootstrap y JS. Realicé
                un controlador de password. Muestra distintos requisitos a
                cumplir. En verde los que están bien y en rojo los que están
                mal. Cuando todo esta ok, se habilita el boton de login.
              </p>
              <a
                href="https://hymsoft.github.io/password-checker/"
                target="_blank"
                class="btn btn-outline-dark btn-sm mt-2"
                >Ver proyecto</a
              >
            </div>
          </figure>
        </div>

        <!-- Argentina Programa desafio 3 -->
        <div class="proyecto__item p-3">
          <figure class="proyecto__item--figure">
            <img
              class="proyecto__figure--img"
              src="../assets/img/veterinaria-cuki.png"
              alt="Proyectos - Desafio 3"
            />
            <div class="proyecto__capa">
              <h3 class="proyecto__capa--title">Veterinaria Cuki</h3>
              <h4 class="proyecto__capa--subtitle">
                Plan Argentina Programa | 3º desafío
              </h4>
              <p class="proyecto__capa--text">
                Dado ciertos requerimientos por el cliente, se realizó un sitio
                web, respetando las especificaciones pero agregando lo que sea
                necesario al proyecto sin romper su estructura.
              </p>
              <a
                href="https://hymsoft.github.io/veterinaria-cuki//"
                target="_blank"
                class="btn btn-outline-dark btn-sm mt-2"
                >Ver proyecto</a
              >
            </div>
          </figure>
        </div>

        <!-- Portfolio Estatico -->
        <div class="proyecto__item p-3">
          <figure class="proyecto__item--figure">
            <img
              class="proyecto__figure--img"
              src="../assets/img/Hugo-Antonio-Segura-Portfolio.png"
              alt="Proyectos - Portfolio Estático"
            />
            <div class="proyecto__capa">
              <h3 class="proyecto__capa--title">Portfolio Estático</h3>
              <h4 class="proyecto__capa--subtitle">
                Plan Argentina Programa (Este proyecto)
              </h4>
              <p class="proyecto__capa--text">
                Portfolio FrontEnd utilizando HTML-CSS-JS, lenguajes aprendidos
                durante el segundo modulo del plan #YoProgramo.
              </p>
              <a href="#" class="btn btn-outline-dark btn-sm mt-2"
                >Ver proyecto</a
              >
            </div>
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
