<!-- Experiencia -->
<section class="container-fluid experiencia text-white">
  <div class="experiencia__content container">
    <div class="experiencia__content--titulo">
      <h2>Experiencia</h2>
      <hr />
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      <!-- Diseño 5 -->
      <div class="col">
        <div class="card border-white text-white bg-dark">
          <img
            class="mx-auto d-block w-25 mt-4"
            src="../assets/img/logo_diseno5.png"
            alt="Logo Diseño 5 S.R.L."
          />
          <div class="card-body">
            <h4 class="card-title">Diseño 5 S.R.L.</h4>
            <h5 class="card-subtitle h6 mb-2">Diseñador Gráfico</h5>
            <p class="card-text">
              Diseño gráfico en general, con el uso de programas como Photoshop,
              InDesign, Illustrator.
            </p>
          </div>
          <div class="card-footer">Enero 2010 – Julio 2018 (102 meses)</div>
        </div>
      </div>
      <!-- SCD -->
      <div class="col">
        <div class="card border-white text-white bg-dark">
          <img
            class="mx-auto d-block w-25 mt-4"
            src="../assets/img/logo_scd.png"
            alt="Logo SCD Servicios Informáticos"
          />
          <div class="card-body">
            <h4 class="card-title">SCD Servicios Informáticos</h4>
            <h5 class="card-subtitle h6 mb-2">Técnico de Campo</h5>
            <p class="card-text">
              Mantenimiento y configuración de equipos informáticos relacionados
              con el despacho de combustibles líquidos, en todas las estaciones
              de servicio YPF-ESSO, desde Río Gallegos(Santa Cruz) hasta
              Comodoro Rivadavia(Chubut).
            </p>
          </div>
          <div class="card-footer">Enero 2006 – Enero 2010 (48 meses)</div>
        </div>
      </div>
      <!-- Stylus -->
      <div class="col">
        <div class="card border-white text-white bg-dark">
          <img
            class="mx-auto d-block w-25 mt-4"
            src="../assets/img/logo_stylus.png"
            alt="Logo Stylus S.A."
          />
          <div class="card-body">
            <h4 class="card-title">Stylus S.A.</h4>
            <h5 class="card-subtitle h6 mb-2">Encargado de RMA</h5>
            <p class="card-text">
              Encargado de la recepción, clasificación, prueba, tramitación y
              entrega de los artículos en estado de RMA (Return material
              authorization). Armado y prueba de equipos de computación.
              Instalación de software en general. Mantenimiento de la red
              interna de la sucursal Córdoba.
            </p>
          </div>
          <div class="card-footer">Enero 2003 – Diciembre 2005 (23 meses)</div>
        </div>
      </div>
      <!-- Baronesa -->
      <div class="col">
        <div class="card border-white text-white bg-dark">
          <div class="card-body">
            <h4 class="card-title">Barone S.A.</h4>
            <h5 class="card-subtitle h6 mb-2">
              Encargado y programador del centro de cómputos de la sucursal
            </h5>
            <p class="card-text">
              Desarrollo de varios sistemas para el control de la sucursal en
              conjunto con el encargado de cómputos de Casa Central Control de
              stock y facturación de la sucursal.
            </p>
          </div>
          <div class="card-footer">Abril 1992 – Octubre 1994 (30 meses)</div>
        </div>
      </div>
      <!-- Municipalidad de Concepcion -->
      <div class="col">
        <div class="card border-white text-white bg-dark">
          <img
            class="mx-auto d-block w-25 mt-4"
            src="../assets/img/logo_municiplidad_de_concepcion.jpg"
            alt="Logo Municipalidad de Concepción - Tucumán"
          />
          <div class="card-body">
            <h4 class="card-title">Municipalidad de Concepción</h4>
            <h5 class="card-subtitle h6 mb-2">
              Ayudante de programador / programador
            </h5>
            <p class="card-text">
              Carga de datos en la Tesorería de la Municipalidad Ayudante de
              Programación de sistema para el área Tierra y cementerio
              Programador de sistema para área Catastro Implementación de la red
              que une el Área Catastro - Tierras - Tesorería.
            </p>
          </div>
          <div class="card-footer">Marzo 1990 – Enero 1992 (22 meses)</div>
        </div>
      </div>
    </div>
  </div>
</section>
